@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* @font-face {
    font-family: Helvetica;
    src: url(fonts/Helvetica.ttf);
  }
  @font-face {
    font-family: HelveticaBold;
    src: url(fonts/Helvetica-Bold.ttf);
  } */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}
input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    display: block;
    border: none;
    box-sizing: border-box;
    height: 40px;
    background: transparent;
}
.usernameblock {
    border-bottom: 1px solid #000;
    width: 100%;
    float: left;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  height: 60px;
  font-weight: bold;
}
.loginformcontainer {
    width: 50%;
    max-width: 400px;
    margin: 8% auto;
}
.pswblock {
    width: 100%;
    float: left;
    padding-top: 20px;
}
.inputblock{
    position: relative;
}
button:hover {
  opacity: 0.8;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
.container {
    padding: 0;
    width: 1200px;
    margin: 0px auto;
}
span.psw {
    float: left;
    padding-top: 16px;
    text-align: center;
    width: 100%;
}
.psw a {
    color: #4CAF50;
    text-decoration: none;
}
span.symbol-input{
    position: absolute;
    display: block;
    color: #4caf50;
    right: 10px;
    top: -2px;
    font-size: 18px;
}
.inputblock .fa {
    font-size: 30px;
}
.headerBlock {
    background: #4CAF50;
    color: #fff;
    width: 100%;
    float: left;
    padding: 10px 0px;
}
.right_block {
    float: right;
}
.notificationIcon .fa {
    font-size: 23px;
}
.logo_block {
    width: 75%;
    float: left;
    margin-top: 10px;
}
.userProfile {
    float: right;
    padding: 7px 10px;
    background: #fff;
    color: #4caf50;
    border-radius: 50%;
}
.DayPickerInput input {
    background: transparent;
    border: none;
    margin-top: 2px;
}
.notificationIcon {
    float: left;
    width: 35px;
    margin-top: 8px;
}
.logo_block a{
    color: #fff;
    text-decoration: none;
}
.right_block {
    float: right;
}
.fliterOptions {
    width: 100%;
    background: #ececec;
    float: left;
    padding: 5px 0px;
}
.fliterOptions ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.fliterOptions ul li {
    width: 18%;
    float: left;
}
.Icon .fa {
    font-size: 20px;
}
.fliterOptions select {
    height: 35px;
    font-size: 15px;
    width: 79%;
    border: none;
    background: transparent;
    color:#717171;
}
.fliterOptions ul li:nth-child(2) select {
    width: 100%;
}
.calendarIcon {
    float: right;
    margin-top: 3px;
}
.DayPickerInput {
    display: inline-block;
    width: 100px;
}
.Icon {
    float: left;
    width: 20px;
    margin-right: 20px;
    margin-top: 7px;
}
.fliterOptions ul li {
    list-style: none;
}
.fliterOptions ul li {
    width: 18%;
    float: left;
    border-right: 1px solid #9e9e9e;
    padding-right: 15px;
    margin-right: 15px;
}
.rcs_slideCon .itemWrapper {
    height: auto;
        cursor: pointer;
}
.rcs_slideCon .itemWrapper div {
    height: auto;
    /* width: 186px; */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.rcs_sliderBox {
    background: transparent !important;
    height: 250px !important;
}
select::-ms-expand {
    display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}
.fliterOptions ul li:last-child {
    border-right: none;
    width: 23%;
}
.date {
    padding: 1px 0px 2px 23px;
    width: 153px;
}
.fliterOptions ul li:last-child {
    border-right: none;
}
.countBlock ul li:first-child {
    width: 300px;
}
.countBlock ul li {
    display: inline-block;
    padding-right: 10px;
    width: 200px;
}
.locationname {
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 16px;
}
.siteStatus {
    font-size: 16px;
}
.countBlock ul {
    padding: 0;
    width: 100%;
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 17px;
}
.siteStatus {
    font-size: 14px;
    color: #717171;
}
.countBlock ul li:first-child {
    width: 300px;
}
.block {
    position: relative;
}
.number {
    position: absolute;
    display: block;
    color: #000;
    font-weight: bold;
    left: 0;
    top: 0px;
    font-size: 34px;
    text-align: center;
    align-content: center;
}
.tabbed-area .number {
    top: 9px;
}
.extraIcon {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #4caf50;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    padding-bottom: 7px;
    line-height: 1;
    height: 30px;
    margin-top: 12px;
    cursor: pointer;
}
.DayPickerInput input:focus {
    outline: none;
}
.numberRightBlock {
    float: right;
    display: block;
    border: none;
    box-sizing: border-box;
    width: 70%;
    margin-top: 7px;
}
.tabbed-area .numberRightBlock {
    float: right;
    display: block;
    border: none;
    box-sizing: border-box;
    width: 58%;
    margin-top: 7px;
    text-align: left !important;
}
.title {
    font-size: 15px;
    color: #000;
}
.numberRightBlock .title {
    text-align: left !important;
}
.sitesSubtitle {
    font-size: 13px;
    color: #717171;
}
.countBlock {
    width: 100%;
    float: left;
    border-bottom: 1px solid #dfdfdf;
}
.countBlock ul li:last-child {
    width: 60px;
}
.slider .title {
    height: 45px;
}
.sliderBlock  .subtitle {
    font-size: 14px;
    color: #000;
    opacity: 0.5;
    min-height: 40px;
    margin-top: 13px;
    width:100% !important;
}
.sliderBlock .block .images {
    width: 70px;
    text-align: center;
    margin: 0px auto;
}
.sliderBlock .block .images img {
    width: 100%;
}
.sliderBlock .block {
    border: 1px solid #dfdfdf;
    width: 108px;
    padding: 7px;
    text-align: center;
    background: #ececec;
    min-height: 150px;
}
.sliderBlock {
    float: left;
    width: 100%;
    margin: 35px 0px;
}
.sliderBlock ul li {
    list-style: none;
    display: inline-flex;
    margin: 0px 10px;
}
.sliderBlock ul {
    padding: 0;
}
.nextSlider {
    width: 25px;
    float: right;
    text-align: right;
    margin-top: 9%;
}
.sliderBlock title {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}
.react-tabs__tab--selected {
    border: none;
}
.react-tabs__tab--selected {
    background: #fff;
    border: none;
    color: #4caf50 !important;
    border-bottom: 2px solid #4caf50 !important;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.react-tabs__tab {
    width: 33.33%;
    text-align: center;
    color: #717171;
}
.tabbed-area {
    width: 85%;
    margin: 0px auto;
}
.react-tabs__tab-list {
    border-bottom: 1px solid transparent; }
.preSlider {
    width: 55px;
    float: left;
    margin-top: 9%;
}
.sliderBlock ul {
    padding: 0;
    float: left;
}
.sliderBlock .block:hover {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    background: #fff;
    box-shadow: 0px 0px 12px 1px #dfdfdf;
    z-index: 9;
}
.viewMore {
    width: 25%;
    float: left;
}
.sliderBlock .icon {
    text-align: center;
    width: 34px;
    background: #fff;
    border:1px solid #dfdfdf;
    color: #000;
    height: 26px;
    padding-top: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.sliderBlock .icon:hover {
    background: #4caf50;
    border:1px solid #4caf50;
    color: #fff;
}
.rcs_arrowBtn.rcs_next {
    float: right;
}
.rcs_buttonSet {
    top: 39% !important;
    width: 100%;
}
.rcs_buttonWrapper {
    float: left !important;
    text-align: left !important;
    width: 100%;
}
.slider .title {
    font-weight: bold;
    width: 100% !important;
    margin-bottom: 12px;
}
.rcs_buttonSet {
    top: 39% !important;
}
.subtitle {
    font-size: 14px;
    color: #000;
    opacity: 0.5;
}
.slider {
    width: 100%;
    margin: 0px auto;
    max-width: 1056px;
}
.rcs_sliderSet{
        width: 100%;
    position: relative;
}
.rcs_left {
    position: absolute;
    left: -60px;
    width: auto;
}
.rcs_right {
    position: absolute;
    right: -60px;
    width: auto;
}
.listBlock {
    width: 100%;
    float: left;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin-top: 15px;
}
.listBlock .content {
    width: 54%;
    float: left;
    color: #000;
    opacity: 0.8;
    margin-top: 10px;
    padding: 0;
}
img.siteLogo {
    width: 200px;
    margin-bottom: 20px;
}
img.usernameImage {
    width: 26px;
    margin-top: 6px;
}
input[type="text"]:focus, input[type=password]:focus {
    outline: none;
}
.capyRights {
    font-size: 13px;
    color: #000;
    opacity: 0.5;
    text-align: center;
}
.sliderBlock .block .images.communicatingIcon {
    width: 41px;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 10px;
    background: #fff;
}
.listBlock .row {
    width: 100%;
    float: left;
    border-bottom: 1px solid #dfdfdf;
    padding: 12px 0px;
    margin: 0px;
}
.listBlock .img {
    width: 100px;
    float: left;
    padding-left: 20px;
    text-align: center;
}
.listBlock .row:last-child {
    border-bottom: none;
}

.rcs_sliderSet span.material-icons {
    font-size: 34px;
}
.rcs_buttonWrapper.rcs_left:hover, .rcs_buttonWrapper.rcs_right:hover{
    background: #4caf50;
    border: 3px solid #4caf50;
    color: #fff;
    opacity: 1;
}
.rcs_buttonWrapper.rcs_left, .rcs_buttonWrapper.rcs_right {
    background: #fff;
    border: 3px solid #b3b3b3;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    color: #000;
}
.tabbed-area .numberRightBlock .title, .tabbed-area .numberRightBlock .sitesSubtitle {
    font-size: 16px !important;
    font-weight: 400 !important;
    color:#000;
}
.viewMore {
    width: 20%;
    float: left;
    margin-top: 24px;
    font-size: 15px;
    color: #4caf50;
    cursor: pointer;
    padding: 0;
}
.listBlock .img img{
    max-height: 58px;
    padding: 12px 0 0 0;
}
.map {
    margin-top: 20px;
}
.footerTopBlock {
    float: left;
    width: 100%;
}
.mapBlock.block, .cellDataBlock.block, .staticBlock.block {
    float: left;
    width: 32.33%;
}
.tabbed-area .block {
    width: 60%;
    margin: 0px auto;
}
.cellDataBlock.block {
    margin: 0px;
}
#box-four:target a[href="#box-four"] { color: red; }
.mapBlock.block .title, .cellDataBlock.block .title, .staticBlock.block .title, .mapBlock.block .subtitle, .cellDataBlock.block .subtitle, .staticBlock.block .subtitle{
    text-align: center;
}
.betteryBlock {
    width: 16.666%;
    float: left;
    padding: 0px 9px;
}
.betteryBlock {
    width: 16.666%;
    float: left;
    padding: 11px 9px;
    border-bottom: 1px solid #dfdfdf;
}
.popupClose{
   margin-top: 10px;
   cursor: pointer;
}
.mapBlock.block .title, .cellDataBlock.block .title, .staticBlock.block .title{
    font-size:24px;
    font-weight: bold;
    margin-bottom:5px;
}
.popupBlockMain .popupHeader span {
    float: right;
    width: 42px;
    font-size: 30px;
}
.tabs { list-style: none; }
.tabs li { display: inline; }
ul.tabs.group li.active a {
    color: #4caf50;
    opacity: 1;
    border-bottom: 2px solid #4caf50;
}
.tabs li a { 
    color: #000;
    float: left;
    display: block;
    width: 130px;
    margin-left: -1px;
    position: relative;
    left: 1px;
    background: white;
    text-decoration: none;
    text-align: center;
    opacity: 0.5; 
    padding-bottom: 10px;
}
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.box-wrap { position: relative; min-height: 250px; }

ul.tabs.group {
    margin-left: 0px;
    padding-left: 0px;
}
ul.tabs.group li{
    margin-left: 0px;
    padding-left: 0px;
}
.borderImage img {
    width: 50px;
}
.box-wrap .block .numberRightBlock .title {
    text-align: left;
}
.box-wrap .block .numberRightBlock {
    width: 64%;
}
.box-wrap .block .numberRightBlock .title , .box-wrap .block .numberRightBlock .sitesSubtitle{
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    color: #000;
    opacity: 1;
}
.borderImage {
    text-align: center;
    width: 121px;
    border: 1px solid #4caf50;
    border-radius: 50%;
    padding: 14px;
    margin: 20px auto; 
}
.box-wrap .block {
    position: relative;
    width: 180px;
    margin: 0px auto;
}
#box-one:target, #box-two:target, #box-three:target {
    z-index: 1;
  }
  .popupTable {
    width: 100%;
  }
  
  .popupTable td, .popupTable th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }
  button:focus{
      outline:none;
  }
  .popupTable tr:nth-child(even){background-color: #f2f2f2;}
  
  .popupTable tr:hover {background-color: #ddd;}
  
  .popupTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    opacity: 0.7;
    padding: 18px 10px;
  }
  .popupTable td {
    font-size: 14px;
    color: #000;
    opacity: 0.6;
    padding-top: 10px;
    padding-bottom: 10px;
}
td.resolved {
    color: #4caf50;
    opacity: 1;
}
td.pending {
    color: #ffa500;
    opacity: 1;
}
td.medium {
    color: #0089ff;
    opacity: 1;
}
td.low {
    color: #eaba9e;
    opacity: 1;
}
td.highrisk {
    color: #ff0000;
    opacity: 1;
}
.popupTable tr.highrisk {
    background-color: #fbd1d1;
}
  .popupBlockContainer {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(255,255,255,0.92);
    z-index: 99999;
}
.popupBlockMain{
    width: 100%;
    margin: 0px auto;
    margin-top: 150px;
    max-width: 1000px;
}
.rcs_arrowBtn.rcs_previous{
    background: transparent !important;
    border: 3px solid #9a9a9a !important;
    opacity: 1;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    z-index: 900000;
    color: #000 !important;
    position: absolute;
    /* left: -60px; */
}
.rcs_arrowBtn.rcs_previous:hover, .rcs_arrowBtn.rcs_next:hover{
    background:#4caf50 !important;
    border: 3px solid #4caf50 !important;
    color: #fff !important;
}
.rcs_arrowBtn.rcs_next{
    background: transparent !important;
    border: 3px solid #9a9a9a !important;
    opacity: 1;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    z-index: 900000;
    color: #000 !important;
    position: relative;
    /* right: -60px; */
}
.rcs_buttonSet .rcs_buttonWrapper{
    opacity: 1 !important;
}
.rcs_buttonWrapper, .rcs_buttonSet{
    z-index: unset !important;
}
.popupBlock {
    width: 100%;
    background: #fff;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #dfdfdf;
}
.popupHeader {
    width: 100%;
    float: left;
    background: #eae9e9;
    border-bottom: 1px solid #dfdfdf;
    padding: 20px 0px;
}
.popupHeader select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 5px;
}
.popupMainBlock {
    width: 100%;
    float: left;
    min-height: 480px;
    position: relative;
        padding: 0 6px;
}
.betteryInformation {
    width: 78px;
    float: right;
}
.popupTable.noHeader table {
    width: 100%;
    margin: 0px;
    border: none;
}
.popupTable.noHeader tr:nth-child(even), .popupTable.noHeader tr:nth-child(even):hover, .popupTable.noHeader tr:hover {
    background-color: #fff;
}
.popupTable.noHeader td {
    opacity: 1;
}
.betteryinfo {
    font-size: 11px;
    color: #000;
    opacity: 0.7;
}
.betteryStatusImage {
    width: 25px;
    float: left;
}
.betteryStatusImage img {
    width: 100%;
}
.sitePercentage {
    float: right;
    display: block;
    color: #000;
    right: 10px;
    margin-top: 11px;
    font-size: 16px;
    padding-right: 10px;
    width: 125px;
    font-weight: bold;
}
.popupTitleBlock {
    float: left;
    display: block;
    width: 100%;
    padding: 15px 0px;
}
.popupTitleLeft {
    float: left;
    display: block;
    padding-left: 10px;
}
.popupTitle {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    opacity: 0.7;
}
.popupTable {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    border-radius: 4px;
}
.popupTable table {
    width: 97%;
    margin: 0px 10px;
    border-collapse: collapse;
    border: 1px solid #dfdfdf;
}

.popupSubTitle {
    font-size: 15px;
    color: #000;
    opacity: 0.5;
}

.meter {
    height: 16px;
    float: right;
    position: relative;
    background: #fff;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 4px;
    padding: 0;
    width: 80px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    border: 1px solid #dfdfdf;
}
.arrows {
    margin-top: 20px;
    float: right;
    padding-right: 20px;
}
span.preicon, span.nexticon {
    padding-right: 10px;
    color: #9a9999;
    cursor: pointer;
}
.popupTable.noHeader {
    margin-bottom: 20px;
}
.meter > span {
    display: block;
    height: 100%;
    float: right;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(43,194,83);
    position: relative;
    overflow: hidden;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.lds-ring {
  display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #198754;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #198754 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
